<!DOCTYPE html>
<html{% if light_mode %} class="inverted"{% endif %}>
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<meta name="csrf-token" content="{{ csrf_token() }}">

	<title>{{ config('app.name', 'TOTPBTF3') }}</title>
	<meta name="robots" content="noindex, nofollow" />

	{{ getCriticalCSS() }}
	<link rel="stylesheet" href="{{ mix('css/app.css') }}" />

	<link rel="icon" href="/favicon-32.png" sizes="32x32" />
	<link rel="icon" href="/favicon-48.png" sizes="48x48" />
	<link rel="icon" href="/favicon-62.png" sizes="62x62" />
	<link rel="icon" href="/favicon-192.png" sizes="192x192" />

	<link rel="manifest" href="/manifest.json" />
	<meta name="mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-title" content="TOTPBTF3" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<meta name="theme-color" content="#515151" />

	<noscript>
		<style>
			body {
				padding-top:3em;
			}
			body:before {
				content: 'This website requires javascript for optimum use, please enable.';
			}
		</style>
	</noscript>
</head>
<body>

	{% block wholepage %}

		{% include 'partials/header.twig' %}

		<main>
			{% block main %}{% endblock %}
		</main>

		{% include 'partials/footer.twig' %}

	{% endblock %}

	<script>
		{% if session('message') and not message %}
			{% set message = session('message') %}
		{% endif %}
		{% if message %}
			alert("{{ message }}");
		{% endif %}
		{% if refreshat %}
			var refreshat = {{ refreshat }};
		{% endif %}
	</script>

	<script src="{{ mix('js/app.js') }}" defer></script>
	<script src="{{ mix('sw.js') }}" defer></script>
</body></html>
