{% extends 'global.twig' %}
{% block main %}

	{% include 'partials/header.twig' %}

	<main>
		{{ breadcrumbs|raw }}

		{% if not image %}
			<hgroup class="a-code-header">
				<h1>{{ token.title }}</h1>
			</hgroup>
		{% endif %}

		<div class="code-and-timer">
			<p class="text-center a-code">{{ token.getTOTPCode() }}</p>
			<div class="a-timer"><div class="hourglass">{{ getTimerFromTheme() }}</div></div>
		</div>

		<div class="buttons">
			<button class="button-primary js-copy" data-copies=".a-code">Copy Code</button>

			<a class="button button-secondary" href="{{ route('tokens.show', [token.id_hash]) }}">View Token</a>
		</div>
	</main>

{% endblock %}
