{% extends 'global.twig' %}
{% block main %}

	{% include 'partials/header.twig' %}

	<main>
		{{ breadcrumbs|raw }}

		<hgroup class="a-code-header">
			{% if image %}
				<img class="a-code-img" src="/{{ image }}" />
			{% endif %}

			<h1>{{ token.title }}</h1>
		</hgroup>

		<p>Are you absolutely sure you wish to delete this token?</p>
		<p>You will not be able to get it back and may lose access to the system it is for.</p>

		<div class="buttons">
			<form method="post" action="{{ route('tokens.delete', [token.id_hash]) }}">
				{{ csrf_field() }}
				{{ method_field('delete') }}

				<button type="submit" class="button-bad">Yes, delete this token</button>

				<a class="button button-good" href="{{ route('tokens.show', [token.id_hash]) }}">No, do not delete this token</a>
			</form>
		</div>
	</main>

{% endblock %}
