{% extends 'global.twig' %}
{% block main %}

	{% include 'partials/header.twig' %}

	<main>
		{{ breadcrumbs|raw }}

		{% if folders|length == 0 %}
			<p class="text-center">no tokens to see here</p>
		{% endif %}

		<ul class="folderlist">
			{% for folder in folders %}
				{% set alt = folder.folder|split('/')|last %}
				<li>
					<a href="{{ route('tokens.code', [folder.folder]) }}">
						{% if folder.image %}
							<img {% if config('app.lazyloading') %}data-{% endif %}src="/{{ folder.image }}" alt="{{ alt }}" />
						{% else %}
							<span class="replaced-image">{{ alt }}</span>
						{% endif %}
					</a>
				</li>
			{% endfor %}
		</ul>

		{% if not read_only %}
			<div class="buttons">
				<a class="button button-secondary" href="{{ route('tokens.create') }}">Add New Token</a>
			</div>
		{% endif %}
	</main>

{% endblock %}
