{% extends 'global.twig' %}
{% block main %}

	<main>
		<h1>Login</h1>

		<form method="POST" action="{{ route('session.store') }}">
			{{ csrf_field() }}

			<div class="fieldwrapper">
				<input id="f_email" type="email" class="{{ errors.has('email') ? ' is-invalid' }}" name="email" value="{{ old('email') }}" required autocomplete="false" autofocus placeholder=" " />

				<label for="f_email">Email Address</label>

				{% if errors.has('email') %}
					<span class="invalid-feedback">
						<strong>{{ errors.first('email') }}</strong>
					</span>
				{% endif %}
			</div>

			<div class="fieldwrapper">
				<input id="f_password" type="password" class="{{ errors.has('password') ? ' is-invalid' }}" name="password" required autocomplete="false" placeholder=" " />

				<label for="f_password">Password</label>

				{% if errors.has('password') %}
					<span class="invalid-feedback">
						<strong>{{ errors.first('password') }}</strong>
					</span>
				{% endif %}
			</div>

			<button class="button-primary" type="submit">Login</button>
		</form>
	</main>

{% endblock %}
