{% extends 'global.twig' %}
{% block main %}

	<h1>Login</h1>

	<form method="POST" action="/login">
		{{ csrf_field() }}

		<div>
			<label for="f_email">Email Address</label>

			<input id="f_email" type="email" class="{{ errors.has('email') ? ' is-invalid' }}" name="email" value="{{ old('email') }}" required autofocus />

			{% if errors.has('email') %}
				<span class="invalid-feedback">
					<strong>{{ errors.first('email') }}</strong>
				</span>
			{% endif %}
		</div>

		<div>
			<label for="f_password">Password</label>

			<input id="f_password" type="password" class="{{ errors.has('password') ? ' is-invalid' }}" name="password" required />

			{% if errors.has('password') %}
				<span class="invalid-feedback">
					<strong>{{ errors.first('password') }}</strong>
				</span>
			{% endif %}
		</div>

		<button type="submit">Login</button>
	</form>

{% endblock %}
